<div class='cta-particles'>
  <span class='cta-particles__cta'>
    <span class='cta-particles__text'>{{post.meta('cta-particles')}}</span>
  {% if isArticle %}
    <span class='cta-particles__text'>Subscribe</span>
  {% endif %}
  {% if calendly %}
  <button href='' onclick="Calendly.initPopupWidget({url:'https://calendly.com/greg-tappingbones'});return false;" class="button button--cta">
      Schedule on Calendly
  </button>
  {% elseif mailcap %}
    <span>
      {% include 'partials/mailcap.twig' %}
    </span>
  {% endif %}
  </span>
  <div  role="presentation" class="particles" id="particles-js"></div>
</div>
