<div class="two-col__wrapper" id="{{ id }}">
	{% if direction == 'rtl' %}
		<div class="two-col__lottie">
		</div>
		<div class="two-col__textblock">
		</div>
	{% else %}
		<div class="two-col__textblock">
		</div>
    <div class="two-col__lottie">
		</div>
	{% endif %}
</div>
