<div class="hero hero--gradient hero--svc" >
  <div class= hero__container>
      {% include "partials/marquis.twig" %}
      <div class="hero__selector">
        <a href="#svc1"><div class="hero__select"><span class="hero__select-icon fas fa-laptop-house"></span>Helpdesk Services</div></a>
        <a href="#svc2"><div class="hero__select"><span class="hero__select-icon fas fa-id-badge" ></span>Employee Onboarding</div></a>
        <a href="#svc3"><div class="hero__select"><span class="hero__select-icon fas fa-shield-alt" ></span>Security</div></a>
        <a href="#svc4"><div class="hero__select"><span class="hero__select-icon fas fa-clipboard-list" ></span>Compliance</div></a>
      </div>
    </div>
</div>
