<div class="hero hero--gradient" >
  <div class= hero__container>
      {% include "partials/marquis.twig" with {cta:'visible'}%}
      <div id="lottie-home" class="lottie lottie--lg" aria-label="Animation of Sentant Engineers Supporting a Remote Startup" role="presentation"> </div>
    </div>
</div>
