<div class="hero hero--gradient" >
  <div class= hero__container>
      {% include "partials/marquis.twig" with {cta:'visible'}%}
      <div id="lottie-team" role="presentation" class="lottie lottie--md" > </div>
    </div>
</div>
