<div class="hero hero--gradient" >
  <div class= hero__container>
      {% include "partials/marquis.twig" %}
      <div class="hero__selector">
        <a href="#svc1"><div class="hero__select"><img src="rocket.svg" />svc 1</div></a>
        <a href="#svc2"><div class="hero__select"><img src="rocket.svg" />svc 2</div></a>
        <a href="#svc3"><div class="hero__select"><img src="rocket.svg" />svc 3</div></a>
        <a href="#svc4"><div class="hero__select"><img src="rocket.svg" />svc 4</div></a>
      </div>
    </div>
</div>
