<div class="hero hero--gradient" >
  <div class= hero__container>
      {% include "partials/marquis.twig" with {cta:'visible'}%}
      <div id="lottie-messages" role="presentation" class="lottie" > </div>
    </div>
</div>
