<div class="marquis" >
		<div class=marquis__title>
			<span class="icon-home"></span>
			{{post.meta('marquis-title')}}
		</div>
    <div class=marquis__subtitle>
      {{post.meta('marquis-subtitle')}}
    </div>
    <div class=marquis__blurb>
      {{post.meta('marquis-blurb')}}
    </div>
    {% if cta == 'visible' %}
		  <button href="" onclick="Calendly.initPopupWidget({url:'https://calendly.com/greg-tappingbones'});return false;" class="button button--cta">
				 	{{post.meta('cta-text')}}
		  </button>
    {% endif %}
	</div>
