<div class="marquis" >
		<div class=marquis__title>
			{{post.meta('marquis-title')}}
		</div>
    <div class=marquis__subtitle>
      {{post.meta('marquis-subtitle')}}
    </div>
    <div class=marquis__blurb>
      {{post.meta('marquis-blurb')}}
    </div>
    {% if cta == 'visible' %}
		  <div class="button button--cta">
			   <a href='' onclick="Calendly.initPopupWidget({url:'https://calendly.com/greg-tappingbones'});return false;">
				 	{{post.meta('cta-text')}}</a>
					</a>
		  </div>
    {% endif %}
	</div>
