// @font-face {
//   font-family: 'icomoon';
//   src:  url('dist/fonts/icomoon.eot?wjbvo9');
//   src:  url('dist/fonts/icomoon.eot?wjbvo9#iefix') format('embedded-opentype'),
//     url('dist/fonts/icomoon.ttf?wjbvo9') format('truetype'),
//     url('dist/fonts/icomoon.woff?wjbvo9') format('woff'),
//     url('dist/fonts/icomoon.svg?wjbvo9#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }
//
// [class^="icon-"], [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'icomoon' !important;
//   speak: never;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//
//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
//
// .icon-home:before {
//   content: "\e900";
// }
// .icon-home2:before {
//   content: "\e901";
// }
// .icon-home3:before {
//   content: "\e902";
// }
// .icon-office:before {
//   content: "\e903";
// }

@mixin heading-lg-lt{
  font-family: $font-heading;
  font-weight: 400;
  color: white;
  font-size: 4.5em;
}

@mixin heading-md-lt{
  font-family: $font-heading;
  font-weight: 400;
  color: white;
  font-size: 2.5em;
}

@mixin heading-md{
  font-family: $font-heading;
  font-weight: 400;
  color: $text-color-primary;
  font-size: 2.5em;
}

@mixin heading-sm-lt{
  font-family: $font-heading;
  font-weight: 500;
  color: white;
  font-size: 2em;
}

@mixin heading-card{
  font-family: $font-heading;
  font-weight: 400;
  color: white;
  font-size: 1.5em;
}

@mixin subheading-card{
  font-family: $font-text;
  font-weight: 300;
  color: white;
  font-size: 1.3em;
}

@mixin heading-section{
  font-family: $font-heading;
  font-weight: 400;
  font-size: 3.5em;
}
@mixin subheading-section{
  font-family: $font-subheading;
  font-size: 1.5em;
}

@mixin subheading-main-lt{
  font-family: $font-subheading;
  font-size: 2em;
  color: white;
}

@mixin heading-tny{
  font-family: $font-heading;
  font-weight: 300;
  font-size: 1.25em;
}

@mixin subheading-tny{
  font-family: $font-subheading;
  font-size: 1.125em;
}

@mixin body-txt-lt{
  font-family: $font-text;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
  color: white;
}

@mixin body-txt{
  font-family: $font-text;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
}

@mixin body-txt-blog{
  font-family: $font-text;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5em;
}

@mixin mob-body-txt{
  font-family: $font-text;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4em;
  color: white;
}

@mixin mob-body-txt-lt{
  font-family: $font-text;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.4em;
  color: white;
}
@mixin nav-link-lt{
  font-family: $font-heading;
  font-size: 1.5em;
  font-weight: 300;
  color: white;
}

@mixin cta-lt{
  font-family: $font-heading;
  font-size: 4em;
  font-weight: 400;
  color: white;
}
@mixin quote-txt{
  font-style: italic;
  font-family: $font-text;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.7em;
  color: white;
}

@mixin btntxt{
  font-family: $font-subheading;
  font-size: 2.5em;
}
