.article{
  border-top: 5px solid $color-swatch-caesar-2;
  &__wrapper{
      width: $container-lg;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: 100%;
      z-index: 3;
      position: relative;
      @include tablet{
        grid-template-columns: 15% 60% 25%;
      }
      @include xl{
        width: $container-xl;
      }
  }
  &__body{
    background: white;
    @include mob-body-txt-blog;
    padding: 2rem 0rem 5rem 0rem;
    @include tablet{
      @include body-txt-blog;
      margin-top: -6rem;
      padding: 2rem 4rem 5rem 4rem;
      border-top: 5px solid $color-swatch-caesar-2;
    }
    &:first-letter{
      font-size: 4em;
      line-height: .9;
      padding-right: 1rem;
      float: left;
    }
    img{
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    a{
      text-decoration: underline;
    }
    blockquote{
      color: grey;
      font-family: $font-subheading;
      font-size: 1.5em;
      line-height: 1.4;
    }
  }
}
