.cta-particles{
  width: 100%;
  background: linear-gradient(201deg, rgba(2,0,36,1) 0%, rgba(0,136,255,1) 100%);
  &__cta{
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 560px;
    text-align: center;
    z-index: 10;
    flex-direction: column;
  }
  &__text{
    @include cta-lt;
  }
  .button--cta{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.particles{
  height: 560px;
  width: 100%;
  opacity: .5;
}
