.footer{
  display: flex;
  align-items: center;
  background-color: $color-swatch-caesar-3;
  color: $text-color-light;
  @include heading-mob-tny;
  @include mobile{
    height: $footer-height;
  }
  &__container{
    width: $container-lg;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    align-items: center;
    @include mobile{
      padding: unset;
      flex-direction: row;
      gap: unset;
      align-items: unset;
    }
    @include xl{
      width: $container-xl;
    }
  }
  &__left{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    @include mobile{
      flex-direction: row;
      gap: unset;
    }
  }
  &__social{
    display: flex;
  }
  &__social-logo{
    font-size: 2em;
    padding-left: 1em;
    &:hover{
      color: $color-swatch-caesar-2;
    }
  }
}

.tappingbones{
  display: flex;
  align-items: center;
  &__logo{
    height: 32px;
    width: 32px;
    margin-left: 1rem;
  }
}
