.footer{
  display: flex;
  align-items: center;
  height: $footer-height;
  background-color: $color-swatch-caesar-3;
  color: $text-color-light;
  &__container{
    width: $container-lg;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__social{
    display: flex;
  }
  &__social-logo{
    font-size: 2em;
    padding-left: 1em;
    &:hover{
      color: $color-swatch-caesar-2;
    }
  }
}

.tappingbones{
  display: flex;
  align-items: center;
  &__logo{
    height: 32px;
    width: 32px;
    margin-left: 1rem;
  }
}
