.hero{
  height: $hero-height;
  width: 100%;
  &__container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // align-items: center;
    height: 100%;
    max-width: $container-lg;
    margin-left: auto;
    margin-right: auto;
    padding-top: $header-height;
    color: $text-color-light;
    z-index: 2;
    @include tablet{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
    &--post{
      height: auto;
    }
  }
  &--gradient{
    background-image: linear-gradient(176deg, rgba(0,0,0,0) 70%, #ffffff calc(70% + 2px)) ;
    &:before{
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      height: $hero-height;
      width: 100%;
      background: linear-gradient(201deg, rgba(2,0,36,1) 0%, rgba(0,136,255,1) 100%);
    }
  }
  &__selector{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    height: 360px;
  }
  &__select{
    background: $color-swatch-caesar-4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    box-shadow: 5px -5px 0px 0px #289FED, 10px -10px 0px 0px #5FB8FF, 15px -15px 0px 0px #A1D8Ff;
    &:hover{
      box-shadow: 4px -4px 0px 0px #289FED, 9px -9px 0px 0px #5FB8FF, 14px -14px 0px 0px #A1D8Ff;
      transform: translate(2px, -2px);
    }
  }
  &--post{
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__scrim{
    background: linear-gradient(180deg, rgba(2,0,36,.6) 0%, rgba(0,0,0,0.2) 50%);
    height: $hero-height;
    width: 100%;
    position: absolute;
    z-index: 0;
  }
}
