.marquis{
  min-width: 0;
  &__title{
    @include heading-mob-lt;
    white-space: normal;
    margin-bottom: 1.5rem;
    @include mobile{
      @include heading-lg-lt;
    }
    @include tablet{
      white-space: nowrap;
    }
	 }
  &__subtitle{
    @include subheading-mob-lt;
    margin-bottom: 1.5rem;
    @include mobile{
      @include subheading-main-lt;
    }
  }
  &__blurb{
   @include body-txt-lt ;
   margin-bottom: 1.5rem;
  }
}

.page-id-111, .single-post{
  .marquis__title{
    @include tablet{
      white-space: normal;
    }
  }
}
