.marquis{
  min-width: 0;
  &__title{
    @include heading-lg-lt;
    white-space: nowrap;
    margin-bottom: 1.5rem;
<<<<<<< HEAD
    @include small{
			white-space: normal;
		}
    @include mobile{
			white-space: normal;
		}
    @include tablet{
			white-space: normal;
=======
    @include mobile{
			white-space: wrap;
>>>>>>> Maybe fixed white space for mobile title
		}
  }
  &__subtitle{
    @include subheading-main-lt;
    margin-bottom: 1.5rem;
  }
  &__blurb{
   @include body-txt-lt ;
   margin-bottom: 1.5rem;
  }
}
