.hamburger{
	display: flex;
	justify-self: center;
	padding: 0 !important;
	outline: none !important;
	@include tablet {
		display: none !important;
	}
}

// apparently you can style hamburgers.js via variables
// in a hamburgers-settings.scss file. refer to docs for specifics
// overriding here just cause
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,{
	background-color: $hamburger-color !important;
}
.fixed 	.hamburger-inner,
.fixed  .hamburger-inner::before,
.fixed  .hamburger-inner::after,{
	background-color: $hamburger-color-dk !important;
}

//i only exist on desktop
.nav{
    display:none;
    li {
    	// transition: all .2s ease;
    	border-radius: 10px 10px 0 0;
		&:hover a{
			color: $nav-menu-link-color-hover;
		}
	}
	a{
		display: block;
		padding: 8px 8px;
		margin-right: $nav-link-margin;
		text-decoration: none;
		@include nav-link-lt;
	}
	@include tablet {
		display:flex;
		ul{
			list-style: none;
			&:first-child{
			display: -webkit-box;
			flex-wrap: wrap;
    		min-width: 40%;
			}
			li:last-child a{
				margin-right:0;
				background-color: $color-swatch-caesar-2;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				padding-top: .5rem;
				padding-bottom: .5rem;
				color: white;
				border-radius: 1em;
				border: 2px solid $color-swatch-caesar-2;
				&:hover{
					background-color: white;
					color: $color-swatch-caesar-2;
				}
			}
		}
	}
}

//mmenu styles
.nav--mobile{
	display: none;
	&.mm-spn{
		font-family: $nav-link-font;
		font-size: $nav-link-size-mobile;
		&:before{
			display: none !important;
		}&:after{
			display: none !important;
		}
	}
	&.mm-spn.mm-spn--light{
    	background: $nav-bg-mobile;
    	color: $nav-link-color-mobile;
    }

}
