.section-heading{
  width: $container-lg;
  margin-left: auto;
  margin-right: auto;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  &__content{
    display: flex;
    margin-bottom: 2em;
    align-items: center;
    @include tablet{
      align-items: baseline;
      margin-bottom: unset;
    }
  }
  &__title{
    @include heading-md;
    @include tablet{
      @include heading-section;
    }
    margin-right: 2rem;
  }
  &__subtitle{
    @include subheading-section;
  }
  &__button{
    background-color: $color-swatch-caesar-3;
    font-size: 1em;
    padding-left:1em;
    padding-right: 1em;
    &:hover{
      background-color: $color-swatch-caesar-2;
    }
    &--desktop{
      display: none;
      @include tablet{
        display: flex;
      }
    }
    &--mobile{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      padding: 1rem;
      @include tablet{
        display: none;
      }
    }
  }
  &--lt{
    color: white;
  }
}
