.section-heading{
  width: $container-lg;
  margin-left: auto;
  margin-right: auto;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  &__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    @include tablet{
      flex-direction: row;
      align-items: baseline;
      margin-bottom: unset;
    }
  }
  &__title{
    @include heading-section;
    margin-right: 2rem;
  }
  &__subtitle{
    @include subheading-section;
  }
  &__button{
    &--desktop{
      visibility: hidden;
      @include mobile{
        visibility: visible;
        background-color: $color-swatch-caesar-3;
        font-size: 1em;
        padding-left:1em;
        padding-right: 1em;
        &:hover{
          background-color: $color-swatch-caesar-2;
        }
      }
    }
    &--mobile{
      visibility: visible;
      @include mobile{
        visibility: hidden;
      }
    }
  }
  &--lt{
    color: white;
  }
}
