.symbols{
  background: $color-swatch-caesar-3;
  color: $text-color-light;
  @include tablet{
    height: 560px;
  }
  &__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    height: 100%;
    width: $container-lg;
    padding-top: $section-spacer-default;
    padding-bottom: $section-spacer-default;
    margin: auto;
    @include tablet{
      grid-template-columns: repeat(4, 1fr);
      padding: unset;
    }
  }
  &__block{
    text-align: center;
  }
  &__heading{
    @include heading-sm-lt;
    margin-bottom: 1rem;
  }
  &__text{
    @include mob-body-txt-lt;
  }
}
