.team{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: $container-lg;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  z-index: 2;
  position: relative;
  @include tablet{
    grid-template-columns: repeat(2, 1fr);
  }
  &__header{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    &-title{
      @include heading-section;
    }
  }
  &__page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-gap: 80px;
    @include tablet{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__teammate{
    img{
      width: 100%;
    }
    cursor: pointer;
    &-img{
      &--lg{
        width: 100%;
        max-width: 400px;
      }
    }
    &-name{
      &--lg{
        font-size: 2.25em;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      @include heading-tny;
    }
    &-title{
      &--lg{
        font-size: 1.7em;
        margin-bottom: 1rem;
      }
      @include subheading-tny;
    }
    &-bio{
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-left: auto;
      padding-top: 4.2rem;
    }
    &-scrim{
      height: 0px;
      width: 0px;
      opacity: .8;
      right: 0;
      bottom: 5px;
      position: absolute;
      border-left: 100px solid transparent;
    }
  }
  &__bio{
    display: none;
    @include tablet{
      display: block;
    }
    &-placeholder{
      margin-top: 35%;
      text-align: center;
      font-size: 3em;
    }
  }
}



// /* Style the tab content */
// .tabcontent {
//   padding: 6px 12px;
//   border: 1px solid #ccc;
//   border-top: none;
// }

//
.tab {
  border: none;
  border-radius: 0;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-color: grey;
  &:hover{
    background-color: darkgrey;
  }
  &.selected{
    background-color: $color-swatch-caesar-2;
  }
}



         .hide{
         display:none
         }
