.team{
  // height: 100vh;

  width: $container-lg;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  z-index: 2;
  position: relative;
  margin-top: -160px;
  @include mobile{
    margin-top: 0px;
  }
  @include desktop{
    width: $container-xl;
    margin-top: -120px;
  }
  @include widescreen{
    margin-top: 0;
  }
  &__header{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 6rem;
    &-title{
      @include heading-md;
      @include mobile{
        @include heading-section;
      }
    }
  }
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-gap: 2rem;
    @include tablet{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__teammate{
    cursor: pointer;
    text-align: center;
    &-img{
      border-radius: 50%;
      height: 200px;
      width: 200px;
      margin: auto;
      background-size: cover;
      &:hover{
        filter: brightness(1.05);
      }
      @include mobile{
        height: 320px;
        width: 320px;
      }
      @include tablet{
        height: 220px;
        width: 220px;
      }
      &--lg{
        height: 280px;
        width: 280px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 20px solid white;
      }
    }
    &-name{
      margin-top: 1rem;
      margin-bottom: .5rem;
      @include heading-tny;
      &--lg{
        font-size: 1.4em;
        margin-top: 2rem;
        margin-bottom: .5rem;
      }
    }
    &-title{
      &--lg{
        font-size: 1.25em;
        margin-bottom: .5rem;
      }
      @include subheading-tny;
    }
    &-bio{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 320px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%);
      background: linear-gradient(201deg,#020024,#08f);
      color: white;
      height: 100vh;
      width: 50vw;
      padding: 8rem 3rem 6rem 3rem;
      z-index: 1000;
      overflow-y: scroll;
      &.selected-panel{
        transform: translateX(0);
      }

      &-text{
        font-size: 1.125em;
      }
    }
  }
  &__bio{
    display: none;
    @include tablet{
      display: block;
      z-index: 11;
      position: relative;
    }
  }
  &__scrim{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.5);
    z-index: 10;
  }
}



// /* Style the tab content */
// .tabcontent {
//   padding: 6px 12px;
//   border: 1px solid #ccc;
//   border-top: none;
// }

//
.tab {
  border: none;
  border-radius: 0;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-color: grey;
  &:hover{
    background-color: darkgrey;
  }
  &.selected{
    background-color: $color-swatch-caesar-2;
  }
}

.bio-tab{
  height: 24px;
  width: 24px;
}


         .hide{
         display:none
         }
