.testimonials{
  @include tablet{
  }
  &__header{
    padding-top: 3rem;
    color: $color-swatch-caesar-3;
    padding-bottom: 1rem;
    .section-heading__content{
      flex-direction: column;
      @include mobile{
        flex-direction: row;
      }
    }
  }
  &__container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    width: $container-lg;
    height: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 10rem;
    @include mobile{
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
    @include xl{
      width: $container-xl;
    }
  }
  &__quote{
    background-repeat: repeat;
    background-size: 400px 400px;
    animation: loop 10s linear infinite;
    min-height: 400px;
  }
  &__scrim{
  min-height: 400px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  &__content{
    @include quote-txt;
    width: 80%;
    color: $color-swatch-caesar-3;
    padding-top: 1em;
    padding-bottom:1em;
    font-size: 1.2em;
    @include tablet{
      font-size: 1.7em;
    }
  }
  &__person{
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  }
  &__industry{
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
  }
}

 @keyframes loop{
   from { background-position: 0 0; }
     to { background-position: -400px 0; }
}
