.two-col{
  &__wrapper{
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    width: $container-lg;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    @include tablet{
      height: 720px;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2em;
    }
    @include desktop{
      height: 720px;
    }
    @include xl{
      width: $container-xl;
      height: 800px;
    }
    &:nth-child(2){

    }
    &:nth-child(odd){
      color: $text-color-light;
      &::before{
        content: '';
        background: linear-gradient(201deg, rgba(2,0,36,1) 0%, rgba(0,136,255,1) 100%);
        width: 100%;
        left:0;
        position: absolute;
        z-index: -1;
        height: 800px;
        @include tablet{
          height: 720px;
        }
        @include xl{
          height: 800px;
        }
      }
      .textblock{
        &__heading{
          @include heading-md-lt;
          margin-bottom: 1.5rem;
          margin-top: 5rem;
          @include tablet{
            margin-top: inherit;
          }
        }
        &__text{
          @include mob-body-txt-lt ;
           @include mobile{
             @include body-txt-lt ;
           }
         }
      }
    }
  }
  &__textblock{
    grid-row:1;
    @include tablet{
      grid-row:unset;
    }
    .textblock{
      &__heading{
        @include heading-md;
        margin-bottom: 1.5rem;
        // padding-top: 4rem;
        @include tablet{
          // padding-top: unset;
        }
      }
      &__text{
        @include mob-body-txt;
         @include mobile{
           @include body-txt;
         }
       }
    }
  }
}
//
//
// .svg__col{
//   .two-col{
//     &__wrapper{
//     height: 560px;
//     @include mobile{
//       height: 720px;
//       }
//     @include desktop{
//       height: unset;
//       }
//       @include xl{
//         height: 560px;
//       }
//     }
//     // &__lottie{
//     //   max-height: 280px;
//     //   @include tablet{
//     //     max-height: unset;
//     //   }
//     // }
//   }
//   &:first-of-type{
//     .two-col{
//       &__wrapper{
//         margin-top: 3rem;
//       }
//     }
//   }
// }
