.two-col{
  &__wrapper{
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2em;
    align-items: center;
    width: $container-lg;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    @include mobile{
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet{
      height: 700px;
    }
    &:nth-child(3){
      color: $text-color-light;
      &::before{
        content: '';
        background: linear-gradient(201deg, rgba(2,0,36,1) 0%, rgba(0,136,255,1) 100%);
        width: 100%;
        left:0;
        position: absolute;
        z-index: -1;
        height: 900px;
        @include tablet{
          height: 700px;
        }
      }
      .textblock{
        &__heading{
          @include heading-md-lt;
          margin-bottom: 1.5rem;
        }
        &__text{
          @include body-txt-lt;
        }
      }
    }
  }
  &__textblock{
    grid-row:1;
    @include mobile{
      grid-row:unset;
    }
    .textblock{
      &__heading{
        @include heading-md;
        margin-bottom: 1.5rem;
      }
      &__text{
        @include body-txt;
      }
    }
  }
}
