{% extends "base.twig" %}

{% block content %}
	<div class="fourohfour" style="background-image: url({{ Image(options.img_404).src('large') }})">
		<p>{{options.txt_404}}</p>
	</div>
{% endblock %}
