{% extends "base.twig" %}

{% block content %}
	{% include "partials/hero-home.twig" %}

	{% include "partials/testimonials-slider.twig" with {
		lottie:'main2',
		textblock: post.meta("textblock2"),
		direction: 'rtl'
	}  %}
	{% include "partials/twocol.twig" with {
		lottie : 'main2',
		textblock: post.meta("textblock2"),
		direction: 'rtl'
	} %}
	{% include "partials/symbols.twig" %}
	<div class="blog-preview--home">
		{% include 'partials/section-header.twig' with {
			title:'Blog',
			subtitle: 'Insights From the Experts',
			link: '/blog',
			titleLink: '/blog',
			linktext: 'Check It Out',
			button: false
		} %}
		{% include "partials/blog-preview-simple.twig" with {subset: recentposts} %}
	</div>
	{% include "partials/cta-particles.twig" with {certs:true} %}
{% endblock %}