{% extends "base.twig" %}

{% block content %}
  {% include "partials/hero-home.twig" %}
  {% include "partials/twocol.twig" with {
    lottie:'messages',
    textblock: post.meta("textblock1"),
    direction: 'rtl'
  }  %}
  {% include "partials/twocol.twig" with {
    lottie:'main2',
    textblock: post.meta("textblock2"),
    direction: 'rtl'
  }  %}
  {% include "partials/symbols.twig" %}
  <div class="blog-preview--home">
    {% include 'partials/section-header.twig' with {
    title:'Blog',
    subtitle: 'Something Something',
    link: '/blog',
    linktext: 'check it out',
    button:'true'
    } %}
    {% include "partials/blog-preview-simple.twig" with {subset: recentposts} %}
      <button class="button section-heading__button section-heading__button--mobile">
          <a href='/blog'>check it out</a>
      </button>
    </diV>
    {% include "partials/testimonials.twig" %}
    {% include "partials/cta-particles.twig" with {certs:true} %}
{% endblock %}
